################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArkDiffDisplayer/.vs
/ArkDiffDisplayer/ArkDiffDisplayer/bin/Debug/net6.0
/ArkDiffDisplayer/ArkDiffDisplayer/obj/Debug/net6.0
/ArkDiffDisplayer/ArkDiffDisplayer/obj/project.nuget.cache
/ArkDiffDisplayer/ArkDiffDisplayer/obj/p/ArkDiffDisplayer/ArkDiffDisplayer.sln

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
roject.assets.json
/ArkDiffDisplayer/ArkDiffDisplayer/obj/ArkDiffDisplayer.csproj.nuget.g.targets
/ArkDiffDisplayer/ArkDiffDisplayer/obj/ArkDiffDisplayer.csproj.nuget.g.props
/ArkDiffDisplayer/ArkDiffDisplayer/obj/ArkDiffDisplayer.csproj.nuget.dgspec.json
/.gitignore
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/nunit.framework.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/nunit.engine.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/nunit.engine.core.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/nunit.engine.api.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/NuGet.Frameworks.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Newtonsoft.Json.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/project.nuget.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/project.assets.json
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/refint/ArkDiffDisplayer.Tests.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ref/ArkDiffDisplayer.Tests.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.pdb
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.genruntimeconfig.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.GeneratedMSBuildEditorConfig.editorconfig
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.csproj.FileListAbsolute.txt
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.csproj.CoreCompileInputs.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.csproj.CopyComplete
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.csproj.BuildWithSkipAnalyzers
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.csproj.AssemblyReference.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.assets.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/ArkDiffDisplayer.Tests.AssemblyInfoInputs.cache
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/ArkDiffDisplayer.Tests.csproj.nuget.g.targets
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/ArkDiffDisplayer.Tests.csproj.nuget.g.props
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/obj/ArkDiffDisplayer.Tests.csproj.nuget.dgspec.json
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/testhost.exe
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/testhost.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/testcentric.engine.metadata.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/nunit_random_seed.tmp
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.Tests.runtimeconfig.json
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.Tests.pdb
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.Tests.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.Tests.deps.json
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.runtimeconfig.json
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.pdb
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.exe
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.dll
/ArkDiffDisplayer/ArkDiffDisplayer.Tests/bin/Debug/net6.0/ArkDiffDisplayer.deps.json
